In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vine_data.csv', index_col=0)
df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R3O9SGZBVQBV76            5              0            0    N                 Y
RKH8BNC3L5DLF             5              0            0    N                 Y
R2HLE8WKZSU3NL            2              1            1    N                 Y
R31U3UH5AZ42LL            5              0            0    N                 Y
R2SV659OUJ945Y            4              0            0    N                 Y

In [3]:
df.dtypes

star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [4]:
#Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 
total_votes20_df = df[(df["total_votes"] >= 20)]
total_votes20_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R14W2VCHHK5V7W            5             19           20    N                 Y
R1S3T57O3OYT5S            5             19           20    N                 Y
R1BTWIBLYYVOV7            5             30           30    N                 Y
R6F9VY91ADPLA             1              8           30    N                 N
R3PXNV89DFIXKV            5             35           37    N                 Y

In [5]:
total_votes20_df.count()

star_rating          9631
helpful_votes        9631
total_votes          9631
vine                 9631
verified_purchase    9631
dtype: int64

In [6]:
#Create a new DataFrame or table to retrieve all the rows where the number of helpful_votes 
#divided by total_votes is equal to or greater than 50%
helpful_votes50_df = total_votes20_df[((total_votes20_df["helpful_votes"]/total_votes20_df["total_votes"])>= .5)]
helpful_votes50_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R14W2VCHHK5V7W            5             19           20    N                 Y
R1S3T57O3OYT5S            5             19           20    N                 Y
R1BTWIBLYYVOV7            5             30           30    N                 Y
R3PXNV89DFIXKV            5             35           37    N                 Y
R2ZF9NYVT3J7D6            5             19           22    N                 Y

In [7]:
helpful_votes50_df.count()

star_rating          8409
helpful_votes        8409
total_votes          8409
vine                 8409
verified_purchase    8409
dtype: int64

In [8]:
#create a new DataFrame or table that retrieves all the rows where a review was written 
#as part of the Vine program (paid), vine == 'Y'

reviews_vine_program_df = helpful_votes50_df[(helpful_votes50_df["vine"]=='Y')]
reviews_vine_program_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R1B7M0OP3UNP6O            5             49           52    Y                 N
R2UUV4UGGYMQG8            5             34           39    Y                 N
R9K0LZV2BK9YY             4             37           39    Y                 N
R2OVFLNEUEGTJM            3             18           25    Y                 N
RBE09ELJ77LQ0             5             44           45    Y                 N

In [9]:
reviews_vine_program_df.count()

star_rating          47
helpful_votes        47
total_votes          47
vine                 47
verified_purchase    47
dtype: int64

In [10]:
#Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'
reviews_notvine_program_df = helpful_votes50_df[(helpful_votes50_df["vine"]=='N')]
reviews_notvine_program_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R14W2VCHHK5V7W            5             19           20    N                 Y
R1S3T57O3OYT5S            5             19           20    N                 Y
R1BTWIBLYYVOV7            5             30           30    N                 Y
R3PXNV89DFIXKV            5             35           37    N                 Y
R2ZF9NYVT3J7D6            5             19           22    N                 Y

In [11]:
reviews_notvine_program_df.count()

star_rating          8362
helpful_votes        8362
total_votes          8362
vine                 8362
verified_purchase    8362
dtype: int64

Total Number of Reviews

In [12]:
total_reviews_ = helpful_votes50_df['star_rating'].count()
print(total_reviews_)

8409

Total Number of Vine Reviews

In [23]:
total_vine_reviews = reviews_vine_program_df['star_rating'].count()
print(total_vine_reviews)

47

Total Number of Unpaid Reviews

In [26]:
total_unpaid_reviews = reviews_notvine_program_df['star_rating'].count()
print(total_unpaid_reviews)

8362

Total Number of 5 Star Reviews

In [13]:
total_5star_df = helpful_votes50_df[(helpful_votes50_df["star_rating"] == 5)]
tot_5star = total_5star_df['star_rating'].count()
print(tot_5star)

4347

Percentage of 5 Star Reviews that are from Vine (Paid)

In [14]:
vine_5star_df = reviews_vine_program_df[(reviews_vine_program_df["star_rating"] == 5) & (reviews_vine_program_df["vine"] == 'Y')]
num_vine_5star = vine_5star_df['star_rating'].count()
print(num_vine_5star)

paid_percent = num_vine_5star/tot_5star
print(paid_percent)

15
0.003450655624568668

Percentage of 5 Star Reviews that are NOT from Vine (Unpaid)

In [15]:
unpaid_5star_df = reviews_notvine_program_df[(reviews_notvine_program_df["star_rating"] == 5) & (reviews_notvine_program_df["vine"] == 'N')]
num_unpaid_5star = unpaid_5star_df['star_rating'].count()
print(num_unpaid_5star)

paid_percent = num_unpaid_5star/tot_5star
print(paid_percent)

4332
0.9965493443754313

Additional Analysis of Unpaid Reviews

In [36]:
unpaid_5star_df = reviews_notvine_program_df[(reviews_notvine_program_df["star_rating"] == 5) & (reviews_notvine_program_df["vine"] == 'N')]
num_unpaid_5star = unpaid_5star_df['star_rating'].count()
print(num_unpaid_5star)

paid_percent = num_unpaid_5star/total_unpaid_reviews*100
print(paid_percent)

4332
51.80578808897393

In [37]:
unpaid_4star_df = reviews_notvine_program_df[(reviews_notvine_program_df["star_rating"] == 4) & (reviews_notvine_program_df["vine"] == 'N')]
num_unpaid_4star = unpaid_4star_df['star_rating'].count()
print(num_unpaid_4star)

paid_percent = num_unpaid_4star/total_unpaid_reviews*100
print(paid_percent)

1332
15.929203539823009

In [38]:
unpaid_3star_df = reviews_notvine_program_df[(reviews_notvine_program_df["star_rating"] == 3) & (reviews_notvine_program_df["vine"] == 'N')]
num_unpaid_3star = unpaid_3star_df['star_rating'].count()
print(num_unpaid_3star)

paid_percent = num_unpaid_3star/total_unpaid_reviews*100
print(paid_percent)

764
9.1365701985171

In [39]:
unpaid_2star_df = reviews_notvine_program_df[(reviews_notvine_program_df["star_rating"] == 2) & (reviews_notvine_program_df["vine"] == 'N')]
num_unpaid_2star = unpaid_2star_df['star_rating'].count()
print(num_unpaid_2star)

paid_percent = num_unpaid_2star/total_unpaid_reviews*100
print(paid_percent)

536
6.409949772781632

In [40]:
unpaid_1star_df = reviews_notvine_program_df[(reviews_notvine_program_df["star_rating"] == 1) & (reviews_notvine_program_df["vine"] == 'N')]
num_unpaid_1star = unpaid_1star_df['star_rating'].count()
print(num_unpaid_1star)

paid_percent = num_unpaid_1star/total_unpaid_reviews*100
print(paid_percent)

1398
16.71848839990433

Additional Analysis of Paid Reviews

In [42]:
total_5star_df = helpful_votes50_df[(helpful_votes50_df["star_rating"] == 5)]
tot_5star = total_5star_df['star_rating'].count()
print(tot_5star)
vine_5star_df = reviews_vine_program_df[(reviews_vine_program_df["star_rating"] == 5) & (reviews_vine_program_df["vine"] == 'Y')]
num_vine_5star = vine_5star_df['star_rating'].count()
print(num_vine_5star)

paid_percent = num_vine_5star/total_vine_reviews*100
print(paid_percent)

4347
15
31.914893617021278

In [41]:
total_4star_df = helpful_votes50_df[(helpful_votes50_df["star_rating"] == 4)]
tot_4star = total_4star_df['star_rating'].count()
print(tot_4star)
vine_4star_df = reviews_vine_program_df[(reviews_vine_program_df["star_rating"] == 4) & (reviews_vine_program_df["vine"] == 'Y')]
num_vine_4star = vine_4star_df['star_rating'].count()
print(num_vine_4star)

paid_percent = num_vine_4star/total_vine_reviews*100
print(paid_percent)

1352
20
42.5531914893617

In [43]:
total_3star_df = helpful_votes50_df[(helpful_votes50_df["star_rating"] == 3)]
tot_3star = total_3star_df['star_rating'].count()
print(tot_3star)
vine_3star_df = reviews_vine_program_df[(reviews_vine_program_df["star_rating"] == 3) & (reviews_vine_program_df["vine"] == 'Y')]
num_vine_3star = vine_3star_df['star_rating'].count()
print(num_vine_3star)

paid_percent = num_vine_3star/total_vine_reviews*100
print(paid_percent)

771
7
14.893617021276595

In [44]:
total_2star_df = helpful_votes50_df[(helpful_votes50_df["star_rating"] == 2)]
tot_2star = total_2star_df['star_rating'].count()
print(tot_2star)
vine_2star_df = reviews_vine_program_df[(reviews_vine_program_df["star_rating"] == 2) & (reviews_vine_program_df["vine"] == 'Y')]
num_vine_2star = vine_2star_df['star_rating'].count()
print(num_vine_2star)

paid_percent = num_vine_2star/total_vine_reviews*100
print(paid_percent)

539
3
6.382978723404255

In [45]:
total_1star_df = helpful_votes50_df[(helpful_votes50_df["star_rating"] == 1)]
tot_1star = total_1star_df['star_rating'].count()
print(tot_1star)
vine_1star_df = reviews_vine_program_df[(reviews_vine_program_df["star_rating"] == 1) & (reviews_vine_program_df["vine"] == 'Y')]
num_vine_1star = vine_1star_df['star_rating'].count()
print(num_vine_1star)

paid_percent = num_vine_1star/total_vine_reviews*100
print(paid_percent)

1400
2
4.25531914893617