In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('vine_data.csv', index_col=0)
df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R3O9SGZBVQBV76            5              0            0    N                 Y
RKH8BNC3L5DLF             5              0            0    N                 Y
R2HLE8WKZSU3NL            2              1            1    N                 Y
R31U3UH5AZ42LL            5              0            0    N                 Y
R2SV659OUJ945Y            4              0            0    N                 Y

In [5]:
df.dtypes

star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [6]:
#Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 
total_votes20_df = df[(df["total_votes"] >= 20)]
total_votes20_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R14W2VCHHK5V7W            5             19           20    N                 Y
R1S3T57O3OYT5S            5             19           20    N                 Y
R1BTWIBLYYVOV7            5             30           30    N                 Y
R6F9VY91ADPLA             1              8           30    N                 N
R3PXNV89DFIXKV            5             35           37    N                 Y

In [13]:
total_votes20_df.count()

star_rating          9631
helpful_votes        9631
total_votes          9631
vine                 9631
verified_purchase    9631
dtype: int64

In [11]:
#Create a new DataFrame or table to retrieve all the rows where the number of helpful_votes 
#divided by total_votes is equal to or greater than 50%
helpful_votes50_df = total_votes20_df[((total_votes20_df["helpful_votes"]/total_votes20_df["total_votes"])>= .5)]
helpful_votes50_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R14W2VCHHK5V7W            5             19           20    N                 Y
R1S3T57O3OYT5S            5             19           20    N                 Y
R1BTWIBLYYVOV7            5             30           30    N                 Y
R3PXNV89DFIXKV            5             35           37    N                 Y
R2ZF9NYVT3J7D6            5             19           22    N                 Y

In [12]:
helpful_votes50_df.count()

star_rating          8409
helpful_votes        8409
total_votes          8409
vine                 8409
verified_purchase    8409
dtype: int64

In [14]:
#create a new DataFrame or table that retrieves all the rows where a review was written 
#as part of the Vine program (paid), vine == 'Y'

reviews_vine_program_df = helpful_votes50_df[(helpful_votes50_df["vine"]=='Y')]
reviews_vine_program_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R1B7M0OP3UNP6O            5             49           52    Y                 N
R2UUV4UGGYMQG8            5             34           39    Y                 N
R9K0LZV2BK9YY             4             37           39    Y                 N
R2OVFLNEUEGTJM            3             18           25    Y                 N
RBE09ELJ77LQ0             5             44           45    Y                 N

In [15]:
reviews_vine_program_df.count()

star_rating          47
helpful_votes        47
total_votes          47
vine                 47
verified_purchase    47
dtype: int64

In [16]:
#Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'
reviews_notvine_program_df = helpful_votes50_df[(helpful_votes50_df["vine"]=='N')]
reviews_notvine_program_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R14W2VCHHK5V7W            5             19           20    N                 Y
R1S3T57O3OYT5S            5             19           20    N                 Y
R1BTWIBLYYVOV7            5             30           30    N                 Y
R3PXNV89DFIXKV            5             35           37    N                 Y
R2ZF9NYVT3J7D6            5             19           22    N                 Y

In [17]:
reviews_notvine_program_df.count()

star_rating          8362
helpful_votes        8362
total_votes          8362
vine                 8362
verified_purchase    8362
dtype: int64

In [28]:
total_reviews_ = helpful_votes50_df['star_rating'].count()
print(total_reviews_)

8409

In [30]:
total_reviews_paid = reviews_vine_program_df['star_rating'].count()
print(total_reviews_paid)

47

In [29]:
total_reviews_unpaid = reviews_notvine_program_df['star_rating'].count()
print(total_reviews_unpaid)

8362

In [32]:
vine_5star_df = reviews_vine_program_df[(reviews_vine_program_df["star_rating"] == 5) & (reviews_vine_program_df["vine"] == 'Y')]
num_vine_5star = vine_5star_df['star_rating'].count()
print(num_vine_5star)

15

In [33]:
unpaid_5star_df = reviews_notvine_program_df[(reviews_notvine_program_df["star_rating"] == 5) & (reviews_notvine_program_df["vine"] == 'N')]
num_unpaid_5star = unpaid_5star_df['star_rating'].count()
print(num_unpaid_5star)

4332

In [36]:
paid_percent = num_vine_5star/total_reviews *100
print(paid_percent)

0.0015610820171677395

In [37]:
unpaid_percent = num_unpaid_5star/total_reviews *100
print(unpaid_percent)

0.4508404865580431